<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sf.xqz.engine.cmdInterpreter">
      <cmdInterpreter
            ID="net.sf.smbt.afdx.cmdInterpreter"
            interpreter="net.sf.smbt.afdx.cmd.AFDXCmdInterpreter">
      </cmdInterpreter>
   </extension>
   <extension
         point="net.sf.xqz.engine.frameInterpreter">
      <frameInterpreter
            ID="net.sf.smbt.afdx.frameInterpreter"
            interpreter="net.sf.smbt.afdx.cmd.AFDXFrameInterpreter">
      </frameInterpreter>
   </extension>
   <extension
         point="net.sf.xqz.engine.cmdHandler">
      <cmdHandler
            ID="net.sf.smbt.afdx.eventHandler"
            handler="net.sf.smbt.afdx.cmd.AFDXEventHandler">
      </cmdHandler>
   </extension>

</plugin>
