<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--
   <extension
         point="org.eclipse.ui.views">
      <view
            name="My FX View"
            icon="icons/javafx_16.png"
            class="net.sf.smbt.ui.jfx.views.MyViewPart"
            id="net.sf.smbt.ui.jfx.views.MyViewPart">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="net.sf.smbt.ui.jfx.views.MyViewPart"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   -->

</plugin>
