<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubiquisense"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-feature android:name="android.hardware.usb.host" />
	
	<!-- android:debuggable="false" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        >
        <activity
            android:name="com.ubiquisense.BotMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
        >
            <intent-filter>
                <action android:name="com.ubiquisense.BOTS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ubiquisense.AlertsMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
        >
            <intent-filter>
                <action android:name="com.ubiquisense.ALERTS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ubiquisense.AlertDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
        >
            <intent-filter>
                <action android:name="com.ubiquisense.ALERT_DETAILS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ubiquisense.BotDetailActivity"
             android:configChanges="orientation|keyboardHidden|screenSize"
        >
                <action android:name="com.ubiquisense.BOT_DETAILS" />
                <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="com.ubiquisense.MarketChartsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
        >
            <intent-filter>
                <action android:name="com.ubiquisense.CHARTS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ubiquisense.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ubiquisense.SettingsMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
        >
            <intent-filter>
                <action android:name="com.ubiquisense.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ubiquisense.UbiFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="com.ubiquisense.SPLASHINTRO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.ubiquisense.USBMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
        >
            <intent-filter>
                <action android:name="com.ubiquisense.USB" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        
        
        <activity android:name="com.ubiquisense.UsbHostActivity">

		    <intent-filter>
		        <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
		    </intent-filter>
		
		    <!-- 
		    <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
		        android:resource="@xml/device_filter" />
		    -->
		</activity>
        
        
       </application>

</manifest>
