
<smurf>
  <settings>
      <OscSendAddress>localhost</OscSendAddress>
      <OscSendPort>4444</OscSendPort>
      <OscReceivePort>4445</OscReceivePort>
      <TuioPort>3333</TuioPort>
  </settings>

  <fid> 
	  <id>0</id>
	  <style>DISC</style>
	  <kind>SIN_OSC</kind>
	  <BG>Red</BG>
	  <FG>Red</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

  <fid> 
	  <id>1</id>
	  <style>DISC</style>
	  <kind>SAW_OSC</kind>
	  <BG>Yellow</BG>
	  <FG>Blue</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

  <fid> 
	  <id>2</id>
	  <style>DISC</style>
	  <kind>TRI_OSC</kind>
	  <BG>Red</BG>
	  <FG>Blue</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

  <fid> 
	  <id>3</id>
	  <style>DISC</style>
	  <kind>SIN_OSC</kind>
	  <BG>Green</BG>
	  <FG>Blue</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

  <fid> 
	  <id>4</id>
	  <style>DISC</style>
	  <kind>SIN_OSC</kind>
	  <BG>Blue</BG>
	  <FG>Blue</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

  <fid> 
	  <id>5</id>
	  <style>DISC</style>
	  <kind>TRI_OSC</kind>
	  <BG>Red</BG>
	  <FG>Blue</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

  <fid> 
	  <id>6</id>
	  <style>DISC</style>
	  <kind>SIN_OSC</kind>
	  <BG>Yellow</BG>
	  <FG>Blue</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

  <fid> 
	  <id>7</id>
	  <style>DISC</style>
	  <kind>TRI_OSC</kind>
	  <BG>Red</BG>
	  <FG>Blue</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

  <fid> 
	  <id>8</id>
	  <style>DISC</style>
	  <kind>ECHO</kind>
	  <BG>Green</BG>
	  <FG>Blue</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

  <fid> 
	  <id>9</id>
	  <style>DISC</style>
	  <kind>SQR_OSC</kind>
	  <BG>Red</BG>
	  <FG>Blue</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

  <fid> 
	  <id>10</id>
	  <style>DISC</style>
	  <kind>SQR_OSC</kind>
	  <BG>Yellow</BG>
	  <FG>Blue</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

  <fid> 
	  <id>11</id>
	  <style>DISC</style>
	  <kind>SAW_OSC</kind>
	  <BG>Red</BG>
	  <FG>Blue</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

  <fid> 
	  <id>12</id>
	  <style>DISC</style>
	  <kind>SAW_OSC</kind>
	  <BG>Green</BG>
	  <FG>Blue</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

  <fid> 
	  <id>13</id>
	  <style>DISC</style>
	  <kind>SIN_OSC</kind>
	  <BG>Red</BG>
	  <FG>Blue</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

  <fid> 
	  <id>14</id>
	  <style>DISC</style>
	  <kind>SQR_OSC</kind>
	  <BG>Yellow</BG>
	  <FG>Blue</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

  <fid> 
	  <id>15</id>
	  <style>DISC</style>
	  <kind>SIN_OSC</kind>
	  <BG>Red</BG>
	  <FG>Blue</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

  <fid> 
	  <id>16</id>
	  <style>DISC</style>
	  <kind>SIN_OSC</kind>
	  <BG>Yellow</BG>
	  <FG>Blue</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

  <fid> 
	  <id>17</id>
	  <style>DISC</style>
	  <kind>REVERB</kind>
	  <BG>Green</BG>
	  <FG>Blue</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

  <fid> 
	  <id>18</id>
	  <style>DISC</style>
	  <kind>SIN_OSC</kind>
	  <BG>Red</BG>
	  <FG>Blue</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

  <fid> 
	  <id>19</id>
	  <style>DISC</style>
	  <kind>TRI_OSC</kind>
	  <BG>Yellow</BG>
	  <FG>Blue</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

  <fid> 
	  <id>20</id>
	  <style>DISC</style>
	  <kind>REVERB</kind>
	  <BG>Green</BG>
	  <FG>Blue</FG>
	  <radius>70</radius>
	  <proxima>200</proxima>
	  <proximaVisible>VISIBLE</proximaVisible>
	  <function>KNOB</function>
	  <range>400</range>
  </fid>

</smurf>
